.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  list-style: none;
}

.page-link {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #006dba;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.page-link:hover {
  z-index: 2;
  color: #006dba;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #006dba;
  border-color: #006dba;
}
